@CHARSET "ISO-8859-1";

body{
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font: "Open Sans";
    color: #000000;
    background: #d1e0e0;
    background-image: url("../img/bird.png");
}

body>p{
    font-size: 24px;
    color: #00664d;

}

article {
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font: "Open Sans";
    color: black;

}

details>summary{
    font-family: sans-serif;
    font-style: italic;
}

mark{
    font-size: 18px;
    color: #006666;
    background-color: #FFFFFF;
}


body>footer{
    font-family: sans-serif;
    color: #527a7a;
    font-size: 12px;

}
table{
    background: #5c8a8a;
    color: #e0ebeb;

}

table th{
    color:chocolate;
    background-color: antiquewhite;

}

button{
    color:darkslategray;
}

fieldset{
    background: #e1e1e1;
    outline-color: aliceblue;
     opacity: 1;
}

dialog{
    background-color: #FFFFFF;
    opacity: 1;
}

