@CHARSET "ISO-8859-1";

body{
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font: "Open Sans";
    color: #000000;
    background-image: linear-gradient(to right, #BADCE8, white);
}

body>p{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6%;
    border: inset;
    font-size: 24px;
    color: #00664d;
    position: fixed;
    text-align: center;
}

div>article {
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font: "Open Sans";
    color: black;
    margin: 10px;
    padding: 5px;
    border: 1px;
}

details>summary{
    font-family: sans-serif;
    font-style: italic;
}

mark{
    font-size: 18px;
    color: #006666;
    background-color: #FFFFFF;
}


body>footer{
    font-family: sans-serif;
    color: #527a7a;
    font-size: 12px;
    position: fixed;
	bottom:0;
	width:100%;
    border: inset;


}
table{
    background: #5c8a8a;
    color: #e0ebeb;

}

table th{
    color:chocolate;
    background-color: antiquewhite;

}

button{
    color:darkslategray;
}

fieldset{
    background: #e1e1e1;
    outline-color: aliceblue;
    opacity: 1;
    margin: 15px;
    border: inset #ff99dd;
}

dialog{
    background-color: #FFFFFF;
    opacity: 1;
}

ul>li {
    list-style: square;
}

ol>li{
    list-style: lower-roman;
}

nav{
    margin-top: 100px;
    border:  inset;
    height: 100%;
    position: fixed;
    top:0;
    left: 10px;

}

div{
    left: 200px;
    top: 300px;
    float:right;

}

