@CHARSET "ISO-8859-1";

body{
    color:black;
}

article {
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font: "Open Sans";
    color: black;
}

details>summary{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

mark{
    font-size: 18px;
    color: lightcyan;
    background-color: black;
}


body>footer{
    font-family: sans-serif;
    color: pink;
    font-size: 12px;

}

table th{
    color:chocolate;
    background-color: antiquewhite;

}
