@CHARSET "ISO-8859-1";

body
{
    margin: 0px, auto;
    /*background-color: #E6EDED;
    background-image: url("http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;*/
}
.dados
{
    margin: 10px;
    border: 1px solid;
}
section
{
    padding: 5px, 5px, 5px, 5px;
}

article section > p
{
    font-size: 16px;
}

address
{
    text-decoration: underline;
}
article section header > p
{
    font-size: 18px;
}
ul
{
    list-style: square;
}

nav
{
    position: fixed 23px;
    border: solid;
    float: left;
    border: groove;
    height: 800px;
    width: 200px;
}
